## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [3]:
application_df.shape

(34299, 12)

In [4]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = counts[counts < 500].index.to_list()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index.tolist()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df)

In [14]:
app_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = app_dummies_df['IS_SUCCESSFUL']
X = app_dummies_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
X_train_scaled

array([[ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365],
       [ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365],
       [ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365],
       ...,
       [ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365],
       [ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365],
       [ 0.01394306, -0.03145581, -0.09072362, ..., -0.07126932,
         0.02858365, -0.02858365]])

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=35, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2200

 dense_1 (Dense)             (None, 35)                1785

 dense_2 (Dense)             (None, 1)                 36

=================================================================
Total params: 4,021
Trainable params: 4,021
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 689us/step - loss: 0.5704 - accuracy: 0.7204
Epoch 2/100
804/804 [==============================] - 1s 674us/step - loss: 0.5558 - accuracy: 0.7270
Epoch 3/100
804/804 [==============================] - 1s 683us/step - loss: 0.5527 - accuracy: 0.7283
Epoch 4/100
804/804 [==============================] - 1s 678us/step - loss: 0.5508 - accuracy: 0.7299
Epoch 5/100
804/804 [==============================] - 1s 674us/step - loss: 0.5498 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 1s 675us/step - loss: 0.5490 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 688us/step - loss: 0.5482 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 1s 681us/step - loss: 0.5474 - accuracy: 0.7324
Epoch 9/100
804/804 [==============================] - 1s 684us/step - loss: 0.5469 - accuracy: 0.7328
Epoch 10/100
804/804 [==============================] - 1s 720us/step - loss: 0.5459 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 1s 710us/step - loss: 0.5453 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 689us/step - loss: 0.5455 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 1s 693us/step - loss: 0.5445 - accuracy: 0.7338
Epoch 14/100
804/804 [==============================] - 1s 717us/step - loss: 0.5448 - accuracy: 0.7337
Epoch 15/100
804/804 [==============================] - 1s 701us/step - loss: 0.5448 - accuracy: 0.7336
Epoch 16/100
804/804 [==============================] - 1s 710us/step - loss: 0.5434 - accuracy: 0.7340
Epoch 17/100
804/804 [==============================] - 1s 707us/step - loss: 0.5435 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 1s 705us/step - loss: 0.5431 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 1s 714us/step - loss: 0.5432 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 1s 688us/step - loss: 0.5429 - accuracy: 0.7348
Epoch 21/100
804/804 [==============================] - 1s 681us/step - loss: 0.5424 - accuracy: 0.7361
Epoch 22/100
804/804 [==============================] - 1s 686us/step - loss: 0.5424 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 1s 672us/step - loss: 0.5419 - accuracy: 0.7357
Epoch 24/100
804/804 [==============================] - 1s 681us/step - loss: 0.5420 - accuracy: 0.7350
Epoch 25/100
804/804 [==============================] - 1s 683us/step - loss: 0.5416 - accuracy: 0.7367
Epoch 26/100
804/804 [==============================] - 1s 692us/step - loss: 0.5413 - accuracy: 0.7370
Epoch 27/100
804/804 [==============================] - 1s 675us/step - loss: 0.5409 - accuracy: 0.7362
Epoch 28/100
804/804 [==============================] - 1s 699us/step - loss: 0.5413 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 710us/step - loss: 0.5407 - accuracy: 0.7364
Epoch 30/100
804/804 [==============================] - 1s 691us/step - loss: 0.5406 - accuracy: 0.7358
Epoch 31/100
804/804 [==============================] - 1s 689us/step - loss: 0.5412 - accuracy: 0.7359
Epoch 32/100
804/804 [==============================] - 1s 671us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 33/100
804/804 [==============================] - 1s 679us/step - loss: 0.5405 - accuracy: 0.7359
Epoch 34/100
804/804 [==============================] - 1s 678us/step - loss: 0.5406 - accuracy: 0.7359
Epoch 35/100
804/804 [==============================] - 1s 679us/step - loss: 0.5400 - accuracy: 0.7365
Epoch 36/100
804/804 [==============================] - 1s 683us/step - loss: 0.5400 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 1s 673us/step - loss: 0.5397 - accuracy: 0.7367
Epoch 38/100
804/804 [==============================] - 1s 684us/step - loss: 0.5399 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 1s 677us/step - loss: 0.5399 - accuracy: 0.7370
Epoch 40/100
804/804 [==============================] - 1s 676us/step - loss: 0.5398 - accuracy: 0.7373
Epoch 41/100
804/804 [==============================] - 1s 677us/step - loss: 0.5391 - accuracy: 0.7383
Epoch 42/100
804/804 [==============================] - 1s 678us/step - loss: 0.5394 - accuracy: 0.7372
Epoch 43/100
804/804 [==============================] - 1s 677us/step - loss: 0.5391 - accuracy: 0.7368
Epoch 44/100
804/804 [==============================] - 1s 679us/step - loss: 0.5388 - accuracy: 0.7380
Epoch 45/100
804/804 [==============================] - 1s 672us/step - loss: 0.5389 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 1s 676us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 47/100
804/804 [==============================] - 1s 674us/step - loss: 0.5387 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 1s 685us/step - loss: 0.5390 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 1s 687us/step - loss: 0.5388 - accuracy: 0.7390
Epoch 50/100
804/804 [==============================] - 1s 678us/step - loss: 0.5383 - accuracy: 0.7374
Epoch 51/100
804/804 [==============================] - 1s 666us/step - loss: 0.5386 - accuracy: 0.7375
Epoch 52/100
804/804 [==============================] - 1s 672us/step - loss: 0.5382 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 1s 674us/step - loss: 0.5384 - accuracy: 0.7376
Epoch 54/100
804/804 [==============================] - 1s 709us/step - loss: 0.5377 - accuracy: 0.7382
Epoch 55/100
804/804 [==============================] - 1s 709us/step - loss: 0.5386 - accuracy: 0.7368
Epoch 56/100
804/804 [==============================] - 1s 700us/step - loss: 0.5377 - accuracy: 0.7384
Epoch 57/100
804/804 [==============================] - 1s 694us/step - loss: 0.5379 - accuracy: 0.7384
Epoch 58/100
804/804 [==============================] - 1s 691us/step - loss: 0.5376 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 1s 704us/step - loss: 0.5378 - accuracy: 0.7388
Epoch 60/100
804/804 [==============================] - 1s 690us/step - loss: 0.5381 - accuracy: 0.7387
Epoch 61/100
804/804 [==============================] - 1s 686us/step - loss: 0.5373 - accuracy: 0.7376
Epoch 62/100
804/804 [==============================] - 1s 682us/step - loss: 0.5373 - accuracy: 0.7376
Epoch 63/100
804/804 [==============================] - 1s 679us/step - loss: 0.5375 - accuracy: 0.7379
Epoch 64/100
804/804 [==============================] - 1s 691us/step - loss: 0.5373 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 1s 692us/step - loss: 0.5376 - accuracy: 0.7383
Epoch 66/100
804/804 [==============================] - 1s 669us/step - loss: 0.5369 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 1s 676us/step - loss: 0.5371 - accuracy: 0.7388
Epoch 68/100
804/804 [==============================] - 1s 676us/step - loss: 0.5372 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 1s 674us/step - loss: 0.5370 - accuracy: 0.7382
Epoch 70/100
804/804 [==============================] - 1s 693us/step - loss: 0.5371 - accuracy: 0.7381
Epoch 71/100
804/804 [==============================] - 1s 670us/step - loss: 0.5366 - accuracy: 0.7393
Epoch 72/100
804/804 [==============================] - 1s 685us/step - loss: 0.5368 - accuracy: 0.7385
Epoch 73/100
804/804 [==============================] - 1s 682us/step - loss: 0.5365 - accuracy: 0.7381
Epoch 74/100
804/804 [==============================] - 1s 680us/step - loss: 0.5367 - accuracy: 0.7386
Epoch 75/100
804/804 [==============================] - 1s 683us/step - loss: 0.5363 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 1s 682us/step - loss: 0.5367 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 1s 681us/step - loss: 0.5364 - accuracy: 0.7386
Epoch 78/100
804/804 [==============================] - 1s 687us/step - loss: 0.5365 - accuracy: 0.7380
Epoch 79/100
804/804 [==============================] - 1s 692us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 80/100
804/804 [==============================] - 1s 677us/step - loss: 0.5360 - accuracy: 0.7389
Epoch 81/100
804/804 [==============================] - 1s 672us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 82/100
804/804 [==============================] - 1s 686us/step - loss: 0.5360 - accuracy: 0.7389
Epoch 83/100
804/804 [==============================] - 1s 705us/step - loss: 0.5359 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 1s 703us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 85/100
804/804 [==============================] - 1s 691us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 86/100
804/804 [==============================] - 1s 700us/step - loss: 0.5357 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 1s 719us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 88/100
804/804 [==============================] - 1s 707us/step - loss: 0.5362 - accuracy: 0.7395
Epoch 89/100
804/804 [==============================] - 1s 701us/step - loss: 0.5358 - accuracy: 0.7395
Epoch 90/100
804/804 [==============================] - 1s 692us/step - loss: 0.5354 - accuracy: 0.7400
Epoch 91/100
804/804 [==============================] - 1s 703us/step - loss: 0.5355 - accuracy: 0.7393
Epoch 92/100
804/804 [==============================] - 1s 694us/step - loss: 0.5354 - accuracy: 0.7391
Epoch 93/100
804/804 [==============================] - 1s 686us/step - loss: 0.5355 - accuracy: 0.7386
Epoch 94/100
804/804 [==============================] - 1s 697us/step - loss: 0.5356 - accuracy: 0.7386
Epoch 95/100
804/804 [==============================] - 1s 697us/step - loss: 0.5354 - accuracy: 0.7399
Epoch 96/100
804/804 [==============================] - 1s 692us/step - loss: 0.5352 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 1s 717us/step - loss: 0.5356 - accuracy: 0.7386
Epoch 98/100
804/804 [==============================] - 1s 713us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 99/100
804/804 [==============================] - 1s 710us/step - loss: 0.5352 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 1s 715us/step - loss: 0.5352 - accuracy: 0.7392

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5588 - accuracy: 0.7249 - 209ms/epoch - 779us/step
Loss: 0.5587996244430542, Accuracy: 0.7248979806900024

In [22]:
# Export our model to HDF5 file
print("Export model to HDF5 file format")
nn.save("AlphabetSoupCharity.h5")
print("Export Completed")

Export model to HDF5 file format
Export Completed